@{
    ViewBag.Title = "Tables Page";
}

<link href="~/Content/Site.css" rel="Stylesheet" type="text/css" />

<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Tourists", "Index", "Tourists", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Tourist Assigments", "Index", "TouristAssigments", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Tourist Camping Trip Info", "Index", "TouristCampingTripInfoes", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Tourist Competition Info", "Index", "TouristCompetitionInfoes", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Tourist Group Info", "Index", "TouristGroupInfoes", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Tourist Levels", "Index", "TouristLevels", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Tourist Posts", "Index", "TouristPosts", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Trainings", "Index", "Trainings", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Trip Records", "Index", "TripRecords", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Sections", "Index", "Sections", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Schedule", "Index", "Schedules", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Groups", "Index", "Groups", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Activity Types", "Index", "ActivityTypes", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Area Types", "Index", "AreaTypes", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Camping Places", "Index", "CampingPlaces", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Camping Route Place Info", "Index", "CampingRoutePlaceInfoes", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Camping Routes", "Index", "CampingRoutes", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Camping Trips", "Index", "CampingTrips", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Competitions", "Index", "Competitions", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
</div>